[submodule "naming-server"]
	path = naming-server
	url = git@github.com:MysterTech/naming-server.git
[submodule "forex-service"]
	path = forex-service
	url = git@github.com:MysterTech/forex-service.git
[submodule "currency-conversion-service"]
	path = currency-conversion-service
	url = git@github.com:MysterTech/currency-conversion-service.git
[submodule "eurekaServer"]
	path = eurekaServer
	url = git@github.com:MysterTech/eurekaServer.git
